.page {
    background-color: cornsilk;
}

.nav_bar {
    display: flex;
    background-color: cornflowerblue;
}
.nav_bar a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav_bar a:hover {
    background-color: rgb(123, 134, 231);
}

.nav_bar a.active {
    background-color: burlywood;
}

.main_body {
    display: flex;
    background-color: burlywood;
}

.content_grid{
    background-color: burlywood;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
}

.content_holder{
    background-color: white;
    margin: auto;
    border: 2px solid black;
}

.img{
    display: block;
    width: 100%;
    height: auto;
    cursor: pointer;
}

.img:hover {
    opacity: .8;
}

.vid {
    display: block;
    max-width: 100%;
    max-height: 500px;
    height: auto;
}

.playlist {
    display: block;
}

.bg_green{
    background-color: darkgreen !important;
}

.span2c{
    grid-column: span 2;
}

.span2r{
    grid-row: span 2;
}

.span3r{
    grid-row: span 3;
}

.main_body > div {
    padding: 10px;
}


  #scrollButton {
      display: none;
      position: fixed;
      bottom: 15px;
      right: 20px;
      border: none;
      outline: none;
      background-color: cornflowerblue;
      color: black;
      cursor: pointer;
      padding: 10px;
      border-radius: 5px;
  }

  #scrollButton:hover{
      background-color: rgb(150, 182, 240);
  }

  .centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }